  body {
    font-family: Arial, sans-serif;
    background-color: #ecbebe;
    height:100vh;
    /* overflow: hidden; */
  }
  
main{
 background-color: white; 
 padding: 30px;
 margin: 400px;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 border-radius: 50px 50px 50px 50px;
 margin-top: 200px;
}
  .container4 {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(0, 0%, 100%)
  }
  
  .container{
    background-color: #f3e6e6;
    /* max-width: 150px; */
    padding: 10px;
    border-radius: 30px;
  }

.container h3{
  color:hsl(330, 63%, 61%)
}
  h1 {
    font-size: 28px;
    text-align: left;
    /* margin-bottom: px; */

  }
  
  .container1 h2{
    color: hsl(15, 58%, 37%)
  }

  .container2 h2{
    color:hsl(15, 58%, 37%) ;
  }

.container3 h2{
  color: hsl(15, 58%, 37%);
}

  .container li span{
    font-weight: bold;
    /* content: "\2022"; */
  }
  


  
  .avatar {
    justify-content: center;
    /* display: flex; */
    align-items: center;
    /* float:center; */
    height: 300px;
    /* width: 700px; */
    display: block;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px;
    /* padding: 10px; */
  }

  /* .h3{ */
    /* color: hsl(15, 63%, 54%) */

  /* } */

  /* table styles */

  .styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .styled-table td:nth-child(2) {
    /* CSS styles for the second column (Amount) */
    /* For example: */
    font-weight: bold;
    color: hsl(15, 58%, 37%);
}


  .styled-table th {
    background-color: #f2f2f2;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .styled-table tbody tr:hover {
    background-color: #ddd;
  }
  