  body {
    font-family: Arial, sans-serif;
    background-color: #ecbebe;
    height:100vh;
    /* align-items: center; */
    /* overflow: hidden; */
  }
  
main{
max-width: 650px ;
 background-color: white; 
 padding: 30px;
 margin: 400px auto;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 border-radius: 20px 20px 20px 20px;
 margin-top: auto;
 /* height: auto; */
}
  .container4 {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
  }
  

  .recipetalk{
   line-height: 1.5rem;
  }

  .container{
    background-color: #f3e6e6;
    /* max-width: 150px; */
    padding: 10px;
    border-radius: 30px;
    list-style: 1.5rem;
  }

.container h3{
  color:hsl(330, 63%, 61%);
  font-family: Young serif, serif;
}
  h1 {
    font-size: 28px;
    text-align: left;
    /* margin-bottom: px; */
    font-family: Young serif, serif;
    font-weight: 50px;
  }
  
  .container1 h2{
    color: hsl(15, 58%, 37%);
    font-family: Young serif, serif;
  }




  .container2 h2{
    color:hsl(15, 58%, 37%);
    font-family: Young serif, serif;
  }

 
.container3 h2{
  color: hsl(15, 58%, 37%);
   font-family: Young serif, serif;
}

  .container li span{
    font-weight: bold;
    /* content: "\2022"; */
  }
  

.container2 li span{
  font-weight: bold;
  font-family: Young serif, serif;
}


  .avatar {
    justify-content: center;
    align-items: center;
    height: 300px;
    display: block;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px;
  }



  .container li {
    margin-top: 10px;
  }

  .container2 ol {
    padding-left: 20px; /* Add padding to the left of the list */
    
}

.container2 li {
    /* margin-bottom: 10px; */
    line-height: 1.5rem;
}

  .container1 ul{
    padding-left: 20px;
    /* line-height: 1.5rem; */
  }

  .container1 li {
    margin-top: 10px;
  }
  /* table styles */

  .styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .styled-table td:nth-child(2) {
    /* CSS styles for the second column (Amount) */
    /* For example: */
    font-weight: bold;
    color: hsl(15, 58%, 37%);
}


/* pseudo code */

  .styled-table th {
    background-color: #f2f2f2;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .styled-table tbody tr:hover {
    background-color: #ddd;
  }
  
 
 /* Media Queries */
@media screen and (max-width: 767px) {
  main {
      max-width: calc(100% - 40px);
      margin: 50px auto; /* Adjust margin for centering */
  }
}

@media screen and (min-width: 768px) {
  main {
      max-width: 550px; /* Adjust max-width for desktop */
  }
}
